@model InventatioMVC.Models.Productos

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unidad_Medida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unidad_Medida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso_KG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso_KG)
        </dd>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
